.ShowBookList {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100px;
    color: rgb(0, 0, 0);
    
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* BookList Styles */
  .list {
    margin-left: 500px;
 
    width: 1000px;
    height: 1000px;
    align-items: center;
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: right;
      align-items: right;
      grid-template-columns: repeat(2, 2fr);
      grid-auto-rows: 1fr;
      grid-gap: 3px;
    }